<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">InformacinesSistemos</a>
    </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="nav flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Pradžia
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="games">
                <span class="bi bi-controller-nav-menu" aria-hidden="true"></span> Žaidimai
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="mygames">
                <span class="bi bi-bag-check-nav-menu" aria-hidden="true"></span> Mano žaidimai
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="profile">
                <span class="bi bi-person-circle-nav-menu" aria-hidden="true"></span> Profilis
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="users">
                <span class="bi bi-people-fill-nav-menu" aria-hidden="true"></span> Naudotojai
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="reports">
                <span class="bi bi-file-earmark-text-fill-nav-menu" aria-hidden="true"></span> Ataskaitos
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="feedback">
                <span class="bi bi-chat-left-dots-fill-nav-menu" aria-hidden="true"></span> Atsiliepimai
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="game/1">
                <span class="bi bi-journal-text-nav-menu" aria-hidden="true"></span> Žaidimo detalės
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="cart">
                <span class="bi bi-journal-text-nav-menu" aria-hidden="true"></span> Žaidimo krepšelis
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="purchase-history">
                <span class="bi bi-journal-text-nav-menu" aria-hidden="true"></span> Pirkimų istorija
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="product-edit">
                <span class="bi bi-journal-text-nav-menu" aria-hidden="true"></span> Prekių redagavimas
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ai-interface">
                <span class="bi bi-journal-text-nav-menu" aria-hidden="true"></span> Paklausk DI!
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="complaints">
                <span class="bi bi-journal-text-nav-menu" aria-hidden="true"></span> Nusiskundimai
            </NavLink>
        </div>
    </nav>
</div>
