@page "/complaints"
<PageTitle>Nusiskundimai</PageTitle>

<section class="container py-4">
    <h1>Nusiskundimai</h1>
    <p>Čia bus vartotojų nusiskundimų pateikimo ir peržiūros langas.</p>
</section>
