@page "/mygames"

<h3>Mano žaidimai</h3>

<p>Čia matysi visus savo įsigytus ar išsinuomotus žaidimus.</p>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Pavadinimas</th>
            <th>Tipas</th>
            <th>Būsena</th>
            <th>Veiksmai</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Monopolis</td>
            <td>Stalo</td>
            <td>Nuomotas iki 2025-11-15</td>
            <td><NavLink class="btn btn-secondary btn-sm" href="/game/1">Peržiūrėti</NavLink></td>
        </tr>
    </tbody>
</table>
