@page "/profile"

<PageTitle>Mano paskyra</PageTitle>

<h2>Mano paskyra</h2>

<p>
    Čia vėliau bus rodomi prisijungusio naudotojo duomenys: vardas, el. paštas, telefono numeris,
    registracijos data ir paskyros būsena.
</p>

<ul>
    <li>Pakeisti kontaktinę informaciją</li>
    <li>Pakeisti slaptažodį</li>
    <li>Peržiūrėti esamus apribojimus / teises</li>
</ul>
