@page "/purchase-history"

<PageTitle>Pirkimų / nuomos istorija</PageTitle>

<h2>Pirkimų ir nuomos istorija</h2>

<p>
    Čia bus rodoma naudotojo užsakymų istorija: pirkimai ir nuomos, jų sumos, būsenos ir datos.
</p>

<table class="history-table">
    <thead>
        <tr>
            <th>Data</th>
            <th>Žaidimas</th>
            <th>Suma</th>
            <th>Būsena</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>2025-11-01</td>
            <td>Catan</td>
            <td>29.99 €</td>
            <td>Įvykdytas</td>
        </tr>
        <tr>
            <td>2025-11-05</td>
            <td>The Witcher 3</td>
            <td>49.99 €</td>
            <td>Apdorojamas</td>
        </tr>
    </tbody>
</table>
