@page "/reports"

<h3>Ataskaitų formavimas</h3>

<label>Pasirinkite ataskaitos tipą:</label>
<select class="form-select w-50 mb-3">
    <option>Žaidimų pardavimai</option>
    <option>Nuomos istorija</option>
    <option>Vartotojų aktyvumas</option>
</select>

<button class="btn btn-primary">Generuoti ataskaitą</button>

<p class="mt-3"><i>Čia bus rodoma suformuota ataskaita...</i></p>
